---
import { Icon } from "astro-icon/components";
import FooterList from "../components/ui/FooterList.astro";
import { MenuLinksData, AccordionLinksData } from "../data/linksData";
import contacts from "../data/footer/contactData";
import socialsData from "../data/footer/socialData";
---

<footer
  class="w-full bg-gray-800 flex flex-col items-center justify-center py-20"
>
  <div class="max-w-[1600px] grid grid-cols-1 w-full md:grid-cols-3">
    <div
      class="flex flex-col items-center gap-6 p-4 md:pl-8 mt-8 md:mt-0 w-full"
    >
      <h3
        class="text-2xl lg:text-4xl font-medium mb-2 flex items-center gap-3 font-main text-white"
      >
        Link Utili
      </h3>
      <FooterList>
        {
          MenuLinksData.map((link) => {
            if(link.name !== "Servizi"){
              return (
                <li class="p-2">
                  <a href={link.path} class="text-white hover:underline">
                    {link.name}
                  </a>
                </li>
              )
          }}     
          )
        }

        {AccordionLinksData.map((link) => (
          <li class="p-2">
            <a href={link.path} class="text-white hover:underline">
              {link.name}
            </a>
          </li>
        ))}
      </FooterList>
    </div>
    <div
      class="w-auto flex md:w-full flex-col items-center py-8 mx-4 gap-6 md:pl-8 mt-8 md:mt-0 border-y md:border-y-0 lg:border-x border-gray-100 border-dotted md-w-auto"
    >
      <h3
        class="text-2xl lg:text-4xl font-medium mb-2 text-start gap-3 font-main text-white"
      >
        <!-- Icona telefono -->
        Contatti
      </h3>
      <FooterList>

        {contacts.map(({ value, icon, color }) => (
          <li class="flex gap-3 p-2">
          <!-- Icona telefono -->
          <Icon name={icon} class={color} />
          <span>{value}</span>
        </li>
        ))}      
      </FooterList>
    </div>
    <div class="flex flex-col items-center gap-6 p-4 md:pl-8 mt-8 md:mt-0">
      <h3
        class="text-2xl lg:text-4xl font-medium mb-2 flex items-center gap-3 font-main text-white"
      >
        <!-- Icona telefono -->
        Social
      </h3>
      <FooterList>
        {socialsData.map(({ url, icon, color }) => (
          <li class="flex items-center gap-3 p-2">
            <!-- Icona telefono -->
            <a href={url}>
              <Icon name={icon} class={color} />
            </a>
          </li>
        ))}
      </FooterList>
    </div>
  </div>
  <div class="max-w-[1600px] mt-20 border-dotted">
    <h3 class="py-5 my-5 border-t text-white lg:px-10 text-center px-2">
      Deb Centro Estetico di Debora Desogus - - PARTITA IVA N. - Privacy Policy
      - Cookie Policy
    </h3>
  </div>
</footer>
